.card-personal-profile{
  width: 94%;
  margin: 2%;
}

.content-card-personal-profile{
  padding: 2%;
}

#openPhoto {
  visibility: hidden;
}

#openPhotoButton {
  margin-bottom: 20px;
  margin-right: 20px;
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
