<mat-card class="card-personal-profile">

  <mat-card-header class="card-header-personal-profile">

  </mat-card-header>

  <mat-card-content class="content-card-personal-profile">

    <img id="avatar" class="mat-card-image" src="http://localhost:8080/avatar/{{user.avatar}}"><br>

    <button id="openPhotoButton" mat-raised-button (click)="onClick()" color="primary">Загрузить фото</button>
    {{nameImg}}
    <input id="openPhoto" type="file" (change)="setUploadPhoto($event.target.files)" />
    <br>
    <br>

    <mat-form-field class="nikname-field">
      <input matInput placeholder="Никнейм" [value]="user.nikname" (blur)="changeNikname($event)">
    </mat-form-field><br>
    <mat-form-field class="mail-field">
      <input matInput placeholder="Mail" [value]="user.mail" disabled>
    </mat-form-field><br>

    <mat-form-field class="fullname-field">
      <input matInput placeholder="Полное имя" [value]="user.fullname" (blur)="changeFullname($event)">
    </mat-form-field><br>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Дата рождения" [value]="user.birthday"
             (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>

    <mat-card-actions>
      <button mat-raised-button (click)="updateUser()" color="primary">Сохранить</button>
    </mat-card-actions>

  </mat-card-content>

</mat-card>
