<button mat-raised-button (click)="onClick()" >
  Open
</button>

<input id="openFile" type="file" (change)="upload($event.target.files)" />

Upload Percent: {{percentDone}}% <br />

<ng-container *ngIf="uploadSuccess">
  Upload Successful
</ng-container>
<mat-progress-spinner [value]="percentDone">
</mat-progress-spinner>
