.video-list {
  margin-left: 2%;
  margin-right: 2%;
  width: 95%;
  border-bottom: 1px solid #4527a0;
}

td {
  border-top: solid 1px #4527a0;
}

.delete-video-button {
  cursor: pointer;
}

.head-table{
  height: 40px;
  color: #4527a0;
  text-align: left;
}

.header-column-table {
  padding-left: 40px;
  font-weight: normal;
}

.table-divider{
  border-bottom: solid 2px #4527a0;
}

.column-name-table {
  width: 75%;
  padding-left: 20px;
}

.column-delete-table {
  padding-left: 50px;
}
