<!--<table mat-table [dataSource]="videos" class="mat-elevation-z8">-->
<!--<ng-container matColumnDef="name">-->
<!--<th mat-header-cell *matHeaderCellDef>Видео</th>-->
<!--<td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--</ng-container>-->
<!--<ng-container matColumnDef="delete">-->
<!--<th mat-header-cell *matHeaderCellDef>Удалить</th>-->
<!--<td mat-cell *matCellDef="let element">-->
<!--<div class="delete-video-button" >-->
<!--<mat-icon (click)="onClick(element.id)" color="primary">delete_forever</mat-icon>-->
<!--</div>-->
<!--</td>-->
<!--</ng-container>-->
<!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<table class="video-list" cellspacing="0">
  <tr class="head-table">
    <th class="header-column-table">Видео</th>
    <th class="header-column-table">Удалить</th>
  </tr>

  <tr *ngFor="let video of videos">
    <td class="column-name-table">
      {{video.name}}
    </td>
    <td class="column-delete-table">
        <button mat-icon-button color="primary">
          <mat-icon (click)="onClick(video.id)">delete_forever</mat-icon>
        </button>
    </td>
  </tr>
</table>
