<mat-card class="card-overview-course">

  <mat-card-header class="card-header-overview-course">
    <div class="div-card-header-overview-course">
      <div class="title-card">{{course.name}}</div>
      <div class="rating-course">
        Рейтинг: {{evaluation}}
        <div class="star-rating-panel">
          <mat-icon class="star-icon" *ngFor="let item of numberStar">{{item.name}}</mat-icon>
        </div>
      </div>

      <button mat-flat-button class="subscribe-button" *ngIf="!subscribeCourse" (click)="subscribeToCourse(course.id)">
        Подписаться
      </button>
      <button mat-flat-button class="subscribe-button" *ngIf="subscribeCourse"
              routerLink="/coursecontent/{{course.id}}">Перейти
      </button>
    </div>
    <img class="mat-card-image" src="http://localhost:8080/courses/img/{{course.img}}">

  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="header-course-overview">
      Описание курса
    </div>
    <div class="text-overview-course">
      {{course.overview}}
    </div>

    <div class="header-course-materials">
      Материалы курса
    </div>

    <div class="course-materials-area">
      <div class="course-materials">
        <mat-expansion-panel *ngFor="let section of sections" class="overview-section">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{section.header}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-video-list-overview [countVideos]="countVideos" [section]="section"></app-video-list-overview>
          <app-file-list-overview [countFiles]="countFiles" [section]="section"></app-file-list-overview>
          <app-test-list-overview [countTests]="countTests" [section]="section"></app-test-list-overview>

        </mat-expansion-panel>
      </div>

      <div class="general-overview-course">
        <mat-card>
          <mat-card-header>
            <div class="header-card-overview-general">
              Всего материалов на курсе
            </div>
          </mat-card-header>
          <mat-divider class="content-card-overview-general-divider"></mat-divider>
          <mat-card-content>
            <div class="content-card-overview-general">
            <table>
              <tr>
                <td>
                  <mat-icon class="icon-overview-general" color="primary">movie</mat-icon>
                </td>
                <td>
                  <div class="header-overview-general-video">Видео уроков: {{countVideos.count}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-icon class="icon-overview-general" color="primary">insert_drive_file</mat-icon>
                </td>
                <td>
                  <div class="header-overview-general-video">Дополнительных материалов: {{countFiles.count}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-icon class="icon-overview-general" color="primary">receipt</mat-icon>
                </td>
                <td>
                  <div class="header-overview-general-video">Тестов: {{countTests.count}}</div>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-icon class="icon-overview-general" color="primary">event_available</mat-icon>
                </td>
                <td>
                  <div class="header-overview-general-video">Выдача сертификатов: есть</div>
                </td>
              </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="tags">
      <div class="tag-item" *ngFor="let tag of tags">
        <a class="tag-ref" routerLink="/searchbytag/{{tag.tag}}">
        #{{tag.tag}}
        </a>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="action-overview-course">

  </mat-card-actions>
</mat-card>
