.card-overview-course{
  width: 80%;
  /*margin: 20px auto;*/
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1%;
}

.mat-card-image{
  margin-left: 80%;
  position: absolute;
  width: 200px;
  height: 200px;
  /*border-radius: 50%;*/
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.card-header-overview-course{
  color: white;
  background-color: #2B333F;
  height: auto;
  white-space: normal;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-card{
  margin-top: 60px;
  margin-left: 50px;
  font-size: 50px;
  width: 80%;
  position: relative;
}

.rating-course{
  margin-top: 20px;
  margin-left: 70px;
  position: relative;
  /*margin-left: 80px;*/
  /*position: absolute;*/
}

.header-course-overview {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #585858;
  font-size: 25px;
}

.text-overview-course{
  padding-left: 40px;
  padding-right: 40px;
}

.header-course-materials{
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: #585858;
  font-size: 25px;
}

.course-materials-area{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.course-materials{
  padding-bottom: 40px;
  width: 50%;
}

.overview-section {
  margin-left: 40px;
}

.header-overview-general-video{
  display: inline-block;
  font-size: 18px;
  color: #585858;
  margin-left: 20px;
  margin-bottom: 20px;
}

.icon-overview-general{
  margin-bottom: 20px;
  transform: scale(1.5);
}

.general-overview-course{
  padding-left: 20px;
  margin-left: 40px;
  width: 40%;
}

.header-card-overview-general{
  font-size: 20px;
  color: #585858;
  margin-bottom: 10px;
}

.content-card-overview-general{
  padding-top: 10px;
}

.content-card-overview-general-divider {

}

.section-header-overview{
  size: 18px;
}

.tags{
  padding: 10px 10px 10px 40px;
  display: flex;
}

.tag-item{
  margin-left: 5px;
}

.tag-ref{
  cursor: pointer;
}

.subscribe-button{
  margin-top: 10px;
  margin-left: 60px;
  position: relative;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

.star-icon{
  color: gold;
}

.star-rating-panel {
  position: relative;
}

