<div>
  <mat-card class="general-card-style">
    <mat-card-header [ngClass]="styleName">
      {{course.name}}
      <!--<img mat-card-image src="http://localhost:8080/courses/image" alt="Photo of a Shiba Inu">-->
    </mat-card-header>
    <img mat-card-image src="http://localhost:8080/courses/img/{{course.img}}" alt="Photo of a Shiba Inu" height="200" [ngClass]="styleName">
    <mat-card-content [ngClass]="styleName">
      {{course.overview}}
    </mat-card-content>
    <mat-card-actions class="course-line-card-action">
      <button mat-button *ngIf="numberOfDeleteCourse != course.id" routerLink="/coursecontent/{{course.id}}">Перейти</button>
      <button mat-button (click)="unsubscribe(course.id)" *ngIf="numberOfDeleteCourse != course.id">Отписатся</button>
      <button mat-button *ngIf="numberOfDeleteCourse === course.id" (click)="cancelUnsubscribe(course.id)" class="course-card">Отменить отписку</button>
    </mat-card-actions>
  </mat-card>
<img src="./assets/certificated.png" *ngIf="isCertificate" class="certificated-img-card" width="55" height="95">
</div>
