.general-card-style {
  /*margin: 50px;*/
  width: 300px;
  height: 330px;
}

.course-card {
  opacity: 1;
}

.course-card-hidden {
  opacity: 0.5;

}

.course-line-card-action{
  position: absolute;
  bottom: 5%;
}

.certificated-img-card {
  position: absolute;
  margin-left: 270px;
  margin-top: -50px;
}
