<mat-card class="card-certificate">
  <mat-card-header>
    <div class="certificate-header">Сертфицирование</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="mat-card-content-confirme">
    <div class="certificate-example">
      <h4>Важно понимать</h4>
      Пример сертификата который будет выдан вашим учиникам который будет выдан в случае
      подтверждения пользователького соглашения:</div>
    <img src="http://localhost:8080/certificate/bycourse/{{course.id}}" class="certificate-pattern">

    <div class="confirm-text">


      <h3>1. Общие положения Пользовательского соглашения</h3>
      <p>1.1<a href="http://it-lex.ru" target="_blank" title="Составление пользовательского соглашения для интернет-сервиса">.</a>
        В настоящем документе и вытекающих или связанным с ним отношениях Сторон применяются следующие термины и определения:<br />
        а) <strong>Платформа</strong> &mdash; программно-аппаратные средства, интегрированные с Сайтом Администрации;<br />
        б) <strong>Пользователь</strong> &mdash; дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе
        либо выступающее от имени и в интересах представляемого им юридического лица.<br />
        в) <strong>Сайт Администрации/ Сайт</strong> &mdash; интернет-сайты, размещенные в домене http://localhost:4200 и его поддоменах.<br />
        г) <strong>Сервис</strong> &mdash; комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.<br />
        д) <strong>Соглашение</strong> &mdash; настоящее соглашение со всеми дополнениями и изменениями.</p>
      <div>
      <p>1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:</p>
      <ul>
        <li>просмотр размещенных на Сайте материалов;</li>
        <li>регистрация и/или авторизация на Сайте,</li>
        <li>размещение или отображение на Сайте любых материалов, включая но не ограничиваясь такими как: тексты, гипертекстовые ссылки, изображения, аудио
          и видео- файлы, сведения и/или иная информация,</li>
      </ul>
      <p>создает договор на условиях настоящего Соглашения в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации.</p>
      <p>1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:
    </div>а) Ознакомились с условиями настоящего
      Соглашения в полном объеме до начала использования Сервиса.<br />
      <br />б) Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий
      и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или
      не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.<br />
      <br />в) Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция
      Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не
      предусмотрено новой редакцией Соглашения.
      <p>
      <h3>2. Общие условия пользования Сервисом</h3>
      <p>2.1. Использование функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации на Сайте в
        соответствии с установленной Администрацией процедурой.


    2.2. Технические, организационные и коммерческие условия использования Сервиса, в том
      числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.<br />
      <br />2.3. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь
      не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.<br />
      <br />
      <h3>3. Лицензия на использование Сайта и допустимое использование Сервиса</h3>
      <p><em>В данном разеле описываются разрешенные способы использования Сайта и предоставляемого на его основе Сервиса. Безвозмездность лицензии препятствует
        применению Закона О защите прав потребителя в случае, когда на стороне пользователя &ndash; физическое лицо. </em></p>
      <h3>4. Гарантии Пользователя</h3>
      <p><em>В разеле указываются гарантии и заверения со стороны пользователя о соблюдении требований законодательства и Пользовательского соглашения при
        использовании Сайта и Сервиса на его основе. Данные положения необходимы, в частности, для последующего возложения ответственности на пользователя
        за нарушения законодателства или прав третьих лиц в связи с публикацией на сайте противоправных материалов.</em></p>

      <h3>5. Лицензия на использование пользовательских материалов</h3>
      <p><em>При организации социального сервиса или платформы для размещения пользователями различных материалов в публичном доступе необходимо оформлять
        лицензионное соглашение с каждым пользователем на использование его материалов в рамках такого Интернет-сервиса. Например разрешение пользователя на
        использование его фотографиии может понадобиться для ее публикации на страницах других пользователей и т.д.</em></p>
      <em>Кроме того, получение лицензии подтверждает факт использования контента с разрешения пользователя, который отвечает за наличие у него полномочий
        на выдачу такой лицензии</em>
        <h3>6. Ограничения</h3>
      <div> <em>В Пользовательском соглашении необходимо с достаточной ясностью изложить условия об ограничении ответственности за предоставление и
        использование Сервиса, в том числе публикуемый с его использованием пользовательский контент.</em></div>
      <div><em> </em></div>
      <div><em>Помимо этого, соблюдение требований федерального закона Об информации в редакции нового антипиратского закона предполагает удаление
        информационным посредником спорных материалов по первому обращению  правообладателя. Поэтому Пользовательское соглашение должно предоставлять
        владельцу интернет-сервиса такую возможность без предварительного согласования и уведомления пользователя</em></div>

        <h3>7. Уведомления</h3>
   <em>Данное положение Соглашения направлено на соблюдение требований о недопущении СПАМа.</em>

        <h3>8. Условия использования аналога собственноручной подписи</h3>


  <em>Раздел включает порядок использования логина и пароля или адреса электронной почты в качестве ключа
      простой электронной подписи. Данное условие необходимо для придания юридической силы всем действиям сторон и
      упрощения возможного документооборота.</em>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="mat-card-actions-confirme">
    <button mat-raised-button color="primary" (click)="agreeCourse()" *ngIf="!course.agree">Принять соглашение</button>
    <button mat-raised-button disabled *ngIf="course.agree">Соглашение принято</button>
  </mat-card-actions>
</mat-card>
