.card-certificate{
  min-height: 400px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.certificate-pattern{
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.certificate-header{
  font-size: 30px;
  margin-bottom: 10px;
  color: #73859f;
}

.certificate-example{
  font-size: 16px;
  margin: 20px 10% 40px;
  color: slategrey;
}

.confirm-text{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
  color: slategrey;
  padding-bottom: 20px;
}

.confirmed-conditions{
 margin-left: 20px;
}

.mat-card-actions-confirme{
  padding-bottom: 20px;
}
