<mat-card class="general-create-card-style">
  <mat-card-header [ngClass]="styleName">
    {{course.name}}
    <!--<img mat-card-image src="http://localhost:8080/courses/image" alt="Photo of a Shiba Inu">-->
  </mat-card-header>
  <img mat-card-image src="http://localhost:8080/courses/img/{{course.img}}" alt="Photo of a Shiba Inu" height="200" [ngClass]="styleName">
  <mat-card-content>
    {{course.overview}}
  </mat-card-content>
  <mat-card-actions class="course-create-card-action">
    <button mat-button routerLink="/create/{{course.id}}">Редактировать</button>
    <button mat-button (click)="deleteCourse(course.id)">Удалить</button>
  </mat-card-actions>
</mat-card>
