<app-toolbar></app-toolbar>
<div class="background-login">
  <img class="background-login-image" src="./assets/background-login.jpg">
</div>
<mat-card class="login-card">
  <mat-card-header class="login-head">
    <mat-card-title>Вход</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <!--<mat-card-content class="login-card-content">-->
    <!--<form class="example-form">-->
      <!--<table class="example-full-width" cellspacing="0">-->
        <!--<tr>-->
          <!--<td>-->
            <!--<mat-form-field class="example-full-width">-->
              <!--<input matInput class="input-name" placeholder="Почта" [(ngModel)]="username" name="username" required-->
                     <!--[formControl]="emailFormControl" (keydown)="onKeydown($event)">-->
            <!--</mat-form-field>-->
          <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td><mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Пароль" [(ngModel)]="password" type="password" name="password" required-->
                   <!--[formControl]="emailFormControl" (keydown)="onKeydown($event)">-->
          <!--</mat-form-field></td>-->
        <!--</tr></table>-->
    <!--</form>-->
  <!--</mat-card-content>-->

  <mat-card-content class="login-card-content">
    <!--<form>-->
      <!--<table cellspacing="0">-->
        <!--<tr>-->
          <!--<td>-->
            <mat-form-field class="input-field">
              <input matInput class="input-name" placeholder="Почта" [(ngModel)]="username" name="username" required
                     [formControl]="emailFormControl" (keydown)="onKeydown($event)">
            </mat-form-field>
          <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>-->
            <mat-form-field class="input-field">
              <input matInput placeholder="Пароль" [(ngModel)]="password" type="password" name="password" required
                   [formControl]="emailFormControl" (keydown)="onKeydown($event)">
            </mat-form-field>
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</form>-->
  </mat-card-content>

  <mat-card-actions class="action-card-login">
    <button mat-raised-button (click)="login()" color="primary" class="enter-button">Войти</button>
    <div class="error-massage" *ngIf="hasError">Неверное имя пользователя или пароль</div>
  </mat-card-actions>
  <mat-progress-bar class="progress-login" mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
</mat-card>
<app-down-panel></app-down-panel>

