.login-card {
  width: 300px;
  margin: 10% auto;
  height: 240px;
  padding: 0px;
  /*opacity: .85;*/
  background: rgba(255,255,255,0.50);
}

.login-card-content {
  margin-top: 5%;
  margin-left: 10%;
  padding-bottom: 0%;
  padding-right: 0%;
  margin-bottom: 0%;
}

.input-field{
  width: 90%;
}

.error-massage {
  margin-left: 80px;
  margin-right: 40px;
  position: relative;
  color: red;
  font-size: 12px;
}

.enter-button {
  position: absolute;
}

.action-card-login {
  margin-top: 0%;
  padding-top: 0%;
  margin-left: 5%;
  margin-top: 10px;
}

.progress-login {
  position: absolute;
  margin-top: 24px;
  height: 4px;
  width: 300px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.login-head {
  padding-top: 15px;
  color: #4527a0;
}

.input-name {
  width: auto;
}

.background-login {
  width: 100%;
  height: 85%;
  position: absolute;
  opacity: .3;
}

.background-login-image {
  width: 100%;
  height: 100%;
}
