<div class="test-page">
  <div mat-dialog-title class="mat-dialog-title-test">
    <mat-form-field class="input-header-test">
      <input matInput class="input-header-test" placeholder="Наименование теста" value="{{test.header}}"
             (blur)="onBlurTestHeader($event)">
    </mat-form-field>
  </div>
  <mat-dialog-content class="test-page-content">

    <mat-card class="card-overview-test">
      <mat-form-field class="input-overview-test">
    <textarea matInput class="input-overview-test" placeholder="Описание теста" value="{{test.owerview}}"
              (blur)="onBlurTestOverview($event)"></textarea>
      </mat-form-field>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of questions" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="title-section">
            {{item.text}}
          </mat-panel-title>
          <!--<button mat-flat-button color="primary" (click)="deleteQuestion(item.id)">Удалить</button>-->
          <mat-panel-description class="description-panel">
            <button mat-icon-button color="primary" (click)="deleteQuestion(item.id)" class="delete-question-button">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-create-question [question]="item"></app-create-question>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button color="primary" (click)="addQuestion()" class="button-add-question">Добавить вопрос
    </button>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close [mat-dialog-close]="testOutside">Готово</button>
  </mat-dialog-actions>
</div>
