.test-page{
  min-width: 800px;
  min-height: 460px;
}

.title-section {
  margin-top: 15px;
}

.test-page-content{
  min-height: 460px;
}

.input-header-test{
  width: 100%;
  font-size: 16px;
}

.mat-dialog-title-test {
  height: 40px;
}

.input-overview-test {
  width: 100%;
  height: 150px;
}

.card-overview-test {
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-question-button{
  margin-left: 98%;
  margin-bottom: 5px;
}

.description-panel{
  width: 80%;
}

.button-add-question{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 45px;
  width: 100%;
}
