<app-toolbar></app-toolbar>
<mat-tab-group >
  <mat-tab label="Панель курсов">
    <mat-grid-list cols="3">
      <!--rowHeight="1:1"-->
      <!--&gt;-->
      <mat-grid-tile *ngFor="let item of data">
        <app-cource-line-card
          [course]="item" class="course-card">
        </app-cource-line-card>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Личный профиль">
    <app-personal-profile></app-personal-profile>
  </mat-tab>
  <mat-tab label="Я учитель">
    <app-teach-view></app-teach-view>
  </mat-tab>
</mat-tab-group>
<app-down-panel></app-down-panel>
