<app-toolbar></app-toolbar>

<!--<div clsss="courses-by-tag-area">-->
<!--  <mat-card *ngFor="let course of courses">-->
<!--    {{course.name}}-->
<!--  </mat-card>-->
<!--</div>-->
<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let item of courses">
    <app-course-card
      [course]="item" class="course-card">
    </app-course-card>
  </mat-grid-tile>
</mat-grid-list>

<app-down-panel></app-down-panel>
