<div class="course-create-panel">
  <mat-accordion class="course-create-panel">
    <mat-expansion-panel *ngFor="let item of sections" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="title-section">
          <div class="section-head-title">
            Раздел: {{item.value.header}}
            <div class="default-title-header"
                 *ngIf="item.value.header === null || item.value.header === ''">
              -Наименование раздела-
            </div>
          </div>

          <!--<button mat-raised-button (click)="deleteElement(item.id)" class="delete-button-section">-->
          <!--Удалить раздел-->
          <!--</button>-->
        </mat-panel-title>
        <mat-panel-description class="description-panel">

          <button mat-icon-button color="primary" (click)="deleteElement(item.id)" class="delete-section-button">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="head-divider"></div>

      <mat-form-field class="name-section">
        <input matInput placeholder="Наименование раздела" class="name-section" value="{{item.value.header}}"
               (blur)="onBlurSectionHeader($event, item.id)">
      </mat-form-field>
      <br>
      <mat-form-field class="overview-section">
        <textarea matInput placeholder="Описание" class="overview-section" value="{{item.value.owerview}}"
                  (blur)="onBlurSectionOverview($event, item.id)"></textarea>
      </mat-form-field>
      <br>
      <br>

      <mat-tab-group>
        <mat-tab label="Видео">
          <app-upload-list-video [id]="item.value.id"></app-upload-list-video>

          <div align="center">
            <button id="openVideoButton" class="upload-video-button" mat-fab
                    (click)="onClickUploadVideo(item.value.id)" color="primary">
              <mat-icon class="icon-load" *ngIf="percentDone == -1">save_alt</mat-icon>
              <div *ngIf="percentDone != -1">
              {{percentDone}}%
              </div>
              <mat-icon *ngIf="percentDone != -1">
                <mat-progress-spinner class="progress-load-spinner" [value]="percentDone"
                                      diameter="83">
                </mat-progress-spinner>
              </mat-icon>
            </button>
            <input class="openVideo" id="openVideo{{item.value.id}}" accept=".mp4" type="file" (input)="setUploadVideo($event.target.files)">
          </div>
          <br>
        </mat-tab>

        <mat-tab label="Файлы">
          <app-upload-list-supfile [id]="item.value.id"></app-upload-list-supfile>
          <div align="center">
            <button id="openFileButton" class="upload-video-button" mat-fab
                    (click)="onClickUploadSupFile(item.value.id)" color="primary">
              <mat-icon class="icon-load" *ngIf="percentDone == -1">save_alt</mat-icon>
              <div *ngIf="percentDone != -1">
                {{percentDone}}%
              </div>
              <mat-icon *ngIf="percentDone != -1">
                <mat-progress-spinner class="progress-load-spinner" [value]="percentDone"
                                      diameter="83">
                </mat-progress-spinner>
              </mat-icon>
            </button>
            <input class="openSupFile" id="openFile{{item.value.id}}" accept=".pdf" type="file" (input)="setUploadSupFile($event.target.files)">
          </div>
          <br>
        </mat-tab>

      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" (click)="createSection()" class="button-add-section">Добавить раздел
  </button>
</div>
<!--<button mat-raised-button>Сохранить</button>-->
