.openVideo {
  visibility: hidden;
  position: absolute;
}

.openSupFile{
  visibility: hidden;
  position: absolute;
}

.course-create-panel{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.button-add-section{
  margin-top: 2px;
  height: 45px;
  width: 100%;
}

.description-panel{
width: 80%;
}

.delete-section-button{
  margin-left: 98%;
  margin-bottom: 5px;
}

.section-head-title{
  position: absolute;
  margin-top: 15px;
  margin-left: 1%;
  color: grey;
}

.default-title-header{
  display: inline-block;
}

.head-divider {
  width: 100%;
  height: 2px;
  background: #4527a0;
  margin-bottom: 15px;
}

.name-section {
  margin-top: 20px;
  width: 100%;
}

.overview-section{
  width: 100%;
  height: 180px;
}

.name-divider{
  width: 100%;
  height: 1px;
  background: #4527a0;
  margin-top: 0px;
}

.upload-video-button {
  margin-top: 30px;
}

.icon-load {
  padding-bottom: 10px;
  transform: scale(1.3);
}

.progress-load-spinner{
  margin-left: -30px;
  margin-top: -55px;
}

