<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row>
    <span><img class="logo" src="./assets/logo.png" width="35" height="50"></span>
    <span><div class="text-logo">Turn Brain</div></span>
    <span><button class="general-button" mat-button routerLink="">Главная</button></span>
    <span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>apps</mat-icon> Категории</button>
      <mat-menu #menu="matMenu" class="category-menu">
        <button mat-menu-item *ngFor="let item of categories" class="category-button" (click)="onClickCategory(item.id)">
         <span class="name-category">{{item.category}}</span>
        </button>
      </mat-menu>
    </span>

    <span class="example-spacer"></span>


    <span>

     <mat-form-field class="example-full-width" class="cl">
       <input matInput value="Поиск" id="search" (click)="onClick()" (blur)="onBlur()" (keydown)="onKeydown($event)">
       <!--(change)="onChange()"-->
       <!--(keyup)="onKeyUp($event)"-->

     </mat-form-field>
       </span>

    <span><button mat-button routerLink="/about">О проекте</button></span>
    <span><button mat-button routerLink="/blog">Блог</button></span>
    <span><button mat-button routerLink="/help">Помощь</button></span>

    <span>
     <mat-button-toggle-group class="cl2" id="matButtonToggleGroupOut" *ngIf="!isLogin" (click)="login()">
       <mat-button-toggle value="center" routerLink="/login" (click)="setErrorMassage()">
         Войти
       </mat-button-toggle>
       <mat-button-toggle value="right" routerLink="/registration">
         Зарегестрироватся
       </mat-button-toggle>
     </mat-button-toggle-group>

       <mat-button-toggle-group class="cl4" id="matButtonToggleGroupIn" *ngIf="isLogin">
       <mat-button-toggle value="center" routerLink="/personalarea">
        Мой кабинет
       </mat-button-toggle>
       <mat-button-toggle value="right" routerLink="/login" (click)="exit()">
         Выйти
       </mat-button-toggle>
      </mat-button-toggle-group>

       </span>
  </mat-toolbar-row>
</mat-toolbar>
