/*.mat-elevation-z5 {*/
  /*position: relative;*/
  /*z-index: 8;*/
/*}*/

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
#mat-toolbar {
  min-height: 48px;
}

.cl {
  font-size: 15px;
  height: 20px;
  bottom: 5px;
}

.cl {
  font-size: 15px;
  height: 20px;
}

.logo{
  margin-top: 8px;
}

.text-logo{
  margin-left: 15px;
  font-family: corbel;
}

.general-button{
  margin-left: 20px;
}

.name-category{
  white-space: normal;
  height: 35px;
}

.category-button{
  height: auto;
}

