<div class="course-card">
<mat-card class="course-card">
  <mat-card-header>
    {{course.name}}
    <!--<img mat-card-image src="http://localhost:8080/courses/image" alt="Photo of a Shiba Inu">-->
  </mat-card-header>
  <img mat-card-image src="http://localhost:8080/courses/img/{{course.img}}" alt="Photo of a Shiba Inu" height="200">
  <mat-card-content>
    {{course.overview}}
  </mat-card-content>
  <mat-card-actions class="course-card-action">
    <!--<button mat-button>НРАВИТСЯ</button>-->
    <button mat-button routerLink="/owerviewcourse/{{course.id}}" (click)="setCurrentIdCourse(course.id)">ПОДРОБНЕЕ</button>
  </mat-card-actions>
</mat-card>
</div>
