.card-create-test-section {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.test-card {
 /*width: 300px;*/
  /*height: 400px;*/
  margin: 20px;
  /*border-radius: 50%;*/
  border-bottom-right-radius: 50%;
  /*border-right-radius: 50%;*/
  /*float:left;*/
}

.test-page {
  /*display: flex;*/
  display: flex;
  flex-wrap: wrap;
  /*flex-wrap: wrap-reverse;*/
}

.divider {
  margin-left: 3%;
  width: 93%;
}
