<!--<div class="test-page">-->

<!--<mat-card class="test-card">-->
<!--zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX-->
<!--</mat-card>-->

<!--<mat-card class="test-card">-->
<!--zXzXzXzX zXzXzXzX-->
<!--</mat-card>-->


<!--<mat-card class="test-card">-->
<!--zXzXzXzX-->
<!--</mat-card>-->


<!--<mat-card class="test-card">-->
<!--zXzXzXzXzXzXzXzX-->
<!--</mat-card>-->
<!--</div>-->
<!--<mat-divider class="divider"></mat-divider>-->
<!--<div class="test-page">-->

<!--<mat-card class="test-card">-->
<!--zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX zXzXzXzX-->
<!--</mat-card>-->

<!--<mat-card class="test-card">-->
<!--zXzXzXzX zXzXzXzX-->
<!--</mat-card>-->


<!--<mat-card class="test-card">-->
<!--zXzXzXzX-->
<!--</mat-card>-->


<!--<mat-card class="test-card">-->
<!--zXzXzXzXzXzXzXzX-->
<!--</mat-card>-->
<!--</div>-->
<mat-card class="card-create-test-section">
<div>
  <mat-vertical-stepper class="mat-stepper-section" #stepper>
    <mat-step [stepControl]="firstFormGroup" *ngFor="let item of sections">
      <ng-template matStepLabel>Тесты к разделу: {{item.value.header}}</ng-template>
      <app-tests-button-line [sectionId]="item.value.id"></app-tests-button-line>
    </mat-step>
  </mat-vertical-stepper>
</div>
</mat-card>

