<app-toolbar></app-toolbar>

<mat-card class="help-card">

  <mat-card-header class="head-help-card">
    <div class="head-help-card-content">FAQ</div>
  </mat-card-header>

  <mat-card-content class="help-card-content">

<div class="mat-accordion-help">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title-question">
          Курсы бесплатные?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content-question">
        <p>Курсы полностью бесплатные. Преподаватель может рекомендовать учебную литературу,
          что бы вы могли глубже выучить ту или инную тему, но даступных в рамках курсов материалов будет достаточно
          для успешного их завершения. Все что вам понадобится, - доступ к сети Интернет на скорости, достаточной для
          просмотра видеолекций.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title-question">
          Смогу ли я получить сертификат по завершению курсов?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content-question">
        <p>Да! Большенство наших курсов дают такую возможность. Для уточнения информации по этому
          поводу пришлите свой вопрос нам на почту.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="title-question">
          В какое время проходят занятия?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content-question">
        <p>Для большенства курсов видеолекций доступны в любое время.</p>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>

<mat-card class="mail-card">
  <mat-card-header>
  <div class="title-mail-card">Остались еще вопросы? Напишите нам!</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-mail-card">
  <div class="content-mail-card">
    Техническая поддержка: genrih@gmail.com <br>
  </div>
  <div class="content-mail-card">
  Остольные вопросы: vasiliy@gmail.com
  </div>
    </mat-card-content>
</mat-card>

  </mat-card-content>

</mat-card>
<app-down-panel></app-down-panel>
