
.help-card{
  margin: 4% 8%;
  padding: 0%;
}

.help-card-content{
  padding: 2%;
}

.mat-accordion-help{
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
}

.title-question{
  font-size: 18px;
  width: auto;
}

.content-question{
  font-size: 16px;
  color: dimgrey;
}

.mail-card{
  width: 78%;
  margin-top: 50px;
  margin-left: 5%;
  /*position: relative;*/
}

.title-mail-card{
  font-size: 18px;
  margin-bottom: 5px;
}

.content-mail-card{
  margin-top: 20px;
  font-size: 18px;
  color: dimgrey;
}

.head-help-card{
  color: white;
  font-size: 50px;
  background: linear-gradient(45deg, #5e35b1, white);
  height: 120px;
}

.head-help-card-content{
  margin-top: 20px;
}
