<img src="./assets/certificated.png" *ngIf="isCertificate" class="certificated-img" width="77" height="135">
<mat-card class="card-course-content">
  <mat-card-header class="card-header-course-content">
    <div class="course-header">{{course.name}}</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-card-course-content">
    <!--<app-video-player class="video-player"></app-video-player>-->
    <div class="poster-outside" *ngIf="posterHidden.hidden">
      <div class="poster"></div>
      <button mat-fab color="primary" class="paly-first-video-button" (click)="palyFirst()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="video-panel">

      <app-video-player class="video-player"></app-video-player>

      <!--      <mat-vertical-stepper class="mat-stepper-section" #stepper>-->
      <!--        <div *ngFor="let item of section">-->
      <!--          <div (click)="setOverviewSection(item.id)" class="header-section">-->
      <!--            <mat-step [stepControl]="firstFormGroup">-->
      <!--              <ng-template matStepLabel>{{item.header}}</ng-template>-->
      <!--              <app-video-list [id]="item.id"></app-video-list>-->
      <!--            </mat-step>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </mat-vertical-stepper>-->

      <div class="section-panel">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of section" (click)="setOverviewSection(item.id)">
            <mat-expansion-panel-header>
              {{item.header}}
            </mat-expansion-panel-header>
            <app-video-list [id]="item.id" [posterHidden]="posterHidden"></app-video-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>

    <mat-divider></mat-divider>
    <div class="header-section-overview">{{headerSection}}</div>
    <div class="section-overview">{{owerviewSection}}</div>

    <mat-divider></mat-divider>
    <div class="supfiles-header" *ngIf="supFiles.length !== 0">Дополнительные материалы</div>
    <div class="supfiles" *ngIf="supFiles.length !== 0">
      <div *ngFor="let supfile of supFiles" class="item-supfile" align="center">
        <button mat-icon-button color="primary" class="mat-file-icon-button" (click)="openSupFile(supfile.id)">
          <mat-icon class="mat-file-icon">insert_drive_file</mat-icon>
        </button>
        <br>
        {{supfile.name}}
      </div>
    </div>

<!--    <div *ngIf="supFiles.length === 0" align="center" class="no-supfiles">-->
<!--      Дополнительных материалов не предусмотрено-->
<!--    </div>-->

    <mat-divider></mat-divider>
    <div class="tests-header" *ngIf="tests.length !== 0">Тесты</div>

    <div class="tests" *ngIf="tests.length !== 0">
     <app-test-item *ngFor="let test of tests" [test]="test"></app-test-item>
    </div>


    <!--    <div *ngIf="tests.length === 0" align="center" class="no-supfiles">-->
<!--      Тестовых заданий не предусмотрено-->
<!--    </div>-->

  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions class="action-course-content">
    <div class="star-button-panel">
      Ваша оценка:
      <button mat-icon-button *ngFor="let item of numberStar" (click)="estimate(item.id)">
        <mat-icon class="star">{{item.name}}</mat-icon>
      </button>
      <button mat-flat-button *ngIf="isCertificate" color="primary" class="get-certificate"
              routerLink="/certificate/{{course.id}}" >
        Получить сертификат
      </button>
    </div>
    <!--<button mat-button routerLink="/owerviewcourse" (click)="setCurrentIdCourse(user.id)">ПОДРОБНЕЕ</button>-->
  </mat-card-actions>
</mat-card>

<!--<button mat-mini-fab>-->
<!--<mat-icon>pause</mat-icon>-->
<!--</button>-->
