.card-course-content {
  margin: 40px 5%;
  padding: 0px;
}

.course-header {
  font-size: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.certificated-img {
  position: absolute;
  margin-top: 15px;
  margin-left: 60px;
  z-index: 999999;
}

.poster-outside {
  z-index: 999999;
  padding-top: 10px;
  margin-left: 10px;
  position: absolute;

}

.poster{
  height: 400px;
  width: 800px;
  background: black;
  position: absolute;
}

.paly-first-video-button {
  margin-top: 170px;
  margin-left: 370px;
  z-index: 999999;
  position: absolute;
}

.video-panel {
  /*display: flex;*/
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0%;
  /*flex-wrap: wrap-reverse;*/
}

.content-card-course-content {
  margin-top: 10px;
  padding-left: 0%;
}

.mat-stepper-section {
  width: 30%;
}

.header-section-overview {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

.section-overview {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.supfiles-header {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 20px;

}

.supfiles {
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.item-supfile{
  width: 80px;
}

.mat-file-icon {
  transform: scale(1.2);
  /*color: #4527a0;*/
}

.no-supfiles {
  font-size: 20px;
  color: darkgrey;
  padding-bottom: 40px;
}

.mat-file-icon-button {
  margin-bottom: 10px;
  transform: scale(1.5);
  /*color: #4527a0;*/
}

.tests-header {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 20px;

}

.tests {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button-list {
  background: darkgray;
}

.video-player {
  margin-left: 10px;
}

.star {
  color: gold;
}

.star-button-panel {
  margin-left: 2%;
}

.test-card {
  /*width: 300px;*/
  /*height: 400px;*/
  margin: 20px;
  /*border-radius: 50%;*/
  border-bottom-right-radius: 50%;
  /*border-right-radius: 50%;*/
  /*float:left;*/
}

.section-panel {
  overflow: auto;
  padding: 5px;
  width: 30%;
  height: 400px;
  margin-left: 20px;
}

.get-certificate{
  margin-right: 20px;
  float: right;
}
