<mat-action-list>
  <button mat-list-item class="button-list" *ngFor="let item of video" (click)="onClick(item.ref)">
    <mat-icon>play_arrow</mat-icon>
    {{item.name}}
  </button>
</mat-action-list>
