<div class="col-12 col-md-6 p-0">
  <div class="video-section d-flex align-items-center justify-content-center h-100">
    <video id="video_player" class="video-js vjs-big-play-centered" controls preload="auto" data-setup="{}" width="600" height="350">
      <!--<source src="http://localhost:8080/video/Pre_Int_02_90815.mp4" type='video/mp4'>-->
      <source id="idsrc" [src]="src" type='video/mp4'>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>
  </div>
</div>
<br>



<button (click)="onClickMe()" mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button>

<br>
<button (click)="onClickMe2()" mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
  Action
</button>


