.course-massage{
  font-size: 20px;
  color: #585858;
  margin-top: 15%;
  margin-bottom: 2%;
  margin-left: 40%;
}

.create-button{
  margin-left: 12%;
  width: 120px;
  height: 40px;
  font-size: 18px;
}

.create-new-course{
  margin: 2%;
}

.create-new-course-button{
  width: 200px;
  font-size: 18px;
}
