<div class="course-massage" *ngIf="isCreated">
  <p>Вы не создали еще ни однго курса</p>
  <button mat-raised-button (click)="createCourse()" class="create-button">
    Создать
  </button>
</div>

<div class="create-new-course" *ngIf="!isCreated">
  <button mat-raised-button (click)="createCourse()" class="create-new-course-button">
    Создать новый курс
  </button>
</div>


<mat-grid-list cols="3">
  <!--rowHeight="1:1"-->
  <!--&gt;-->
  <mat-grid-tile *ngFor="let item of courses">
    <app-create-course-card
      [course]="item" class="course-card">
    </app-create-course-card>
  </mat-grid-tile>

</mat-grid-list>
