<app-toolbar></app-toolbar>
<div class="about-project-content">
<mat-card class="about-card">

  <mat-card-header class="head-about-card">
    <div class="head-about-card-content">О проекте</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="about-card-content">
    "Turn Brain" - социальный проект массовых открытых онлайн курсов. В сотрудничестве с преподователями лучших Вузов
    России мы создаём и размещаем курсы на собственной онлайн-платформе и даем бесплатную возможность университетам,
    организациям и ведущим компаниям и распространять курсы на этой платформе. Мы открываем бесплатный онлайн-доступ к
    лучшим курсам университетского уровня всем желающим в России.
  </mat-card-content>
</mat-card>
</div>
<app-down-panel></app-down-panel>


