
.about-project-content {
  min-height: 50%;
}

.about-card{
  margin: 5%;
  width: 90%;
}

.head-about-card{
  font-size: 50px;
  padding: 1%;
}

.about-card-content{
  color: dimgray;
  font-size: 20px;
  padding: 2%;
}
