<mat-form-field class="category-course">
  <mat-select placeholder="Категория" class="category-course" [value]="courseCategory" (selectionChange)="onChangeCategory($event)">
    <!--<mat-option>Не задано</mat-option>-->
    <mat-option *ngFor="let category of categorys" [value]="category.id">{{category.category}}</mat-option>
  </mat-select>
</mat-form-field>


