<mat-form-field class="field-answer"><textarea matInput class="input-answer" placeholder="Ответ" (blur)="onBlurText($event)"
                                               value="{{answer.text}}"></textarea></mat-form-field>

