<mat-card class="blog-card">
  <img src="http://localhost:8080/blog/img/{{blog.img}}" class="blog-img">
  <mat-card-header class="blog-card-header">
    {{blog.name}}
  </mat-card-header>
  <mat-divider class="divider"></mat-divider>
  <!--<img mat-card-image src="http://localhost:8080/courses/img/{{course.img}}" alt="Photo of a Shiba Inu" height="200">-->

  <mat-card-content class="blog-card-content">
    <div class="blog-card-content-overview">
    {{blog.overview}}
    </div>
  </mat-card-content>
  <mat-card-actions class="blog-card-action">
    <button mat-flat-button color="primary" class="blog-card-action-button" routerLink="/post/{{blog.id}}">
      Узнать больше
    </button>
    <!--<button mat-button routerLink="/owerviewcourse/{{course.id}}" (click)="setCurrentIdCourse(course.id)">ПОДРОБНЕЕ</button>-->
  </mat-card-actions>
</mat-card>
