
.blog-cards-area {
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.blog-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  height: auto;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.empty-area {
  background-color: #2B333F;
  height: 50px;
}

.blog-card-header{
  font-size: 25px;
  padding-bottom: 10px;
  margin-left: 300px;
}

.blog-card-content{
  margin-top: 20px;
  margin-left: 320px;
  padding-right: 20px;
}

.blog-card-content-overview{
  font-size: 16px;
  color: #585858;
}

.blog-card-action{
  margin-left: 320px;
}

.blog-img{
  height: 100%;
  width: 300px;
  position: absolute;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blog-card-action-button{
  margin-bottom: 20px;
}
