<app-toolbar></app-toolbar>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> UserName</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Salary </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.salary}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<app-player></app-player>
<app-upload></app-upload>



<!--<div *ngFor="let item of numberStar"><button mat-raised-button>{{item.id}}</button></div>-->

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of numberStar">
    <mat-expansion-panel-header>
      <mat-panel-title class="title-question">
        name {{item.id}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-question">
      <p>{{item.id}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button (click)="addElement()">Add person</button>

