<!--&lt;!&ndash;<div *ngFor="let item of data;  let i=index;" class="cycle-cards" fxLayout="row" fxLayoutAlign="center center">&ndash;&gt;-->

<!--<mat-list class="cycle-cards" fxLayout="row" fxLayoutAlign="center center">-->
  <!--<mat-list-item *ngFor="let item of data">-->
    <!--<app-uesr-card-->
      <!--[user]="item" class="course-card">-->
    <!--</app-uesr-card>-->
  <!--</mat-list-item>-->
<!--</mat-list>-->
<mat-grid-list cols="3">
               <!--rowHeight="1:1"-->
<!--&gt;-->
  <mat-grid-tile *ngFor="let item of data">
    <app-course-card
    [course]="item" class="course-card">
    </app-course-card>
  </mat-grid-tile>

</mat-grid-list>
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="row">-->
  <!--<app-uesr-card-->
    <!--*ngFor="let item of data"-->
    <!--[user]="item" class="course-card">-->
  <!--</app-uesr-card>-->
<!--</div>-->
