<mat-card class="create-overview-card">

  <div class="image-area" align="center">
    <img class="course-create-image" src="http://localhost:8080/courses/img/{{course.img}}">
    <div class="load-course-button">
      <button id="openPhotoButton" align="center" mat-raised-button (click)="onClick()" color="primary">
        Загрузить фото
      </button>
      <br>
      <input id="openPhoto" class="hidden-element" type="file" (change)="setUploadPhoto($event.target.files)"/>
    </div>
  </div>
</mat-card>

<mat-card class="create-settings-card">
  <div class="settings-header">Главное</div>
  <mat-divider class="head-divider-create-course"></mat-divider>
  <div class="name-turn-tag">
    <div class="open-course-toggle">
      <mat-slide-toggle (change)="changeOpen()" [checked]="course.open">
        <div *ngIf="!course.open">Открыть курс</div>
        <div *ngIf="course.open">Закрыть курс</div>
      </mat-slide-toggle>
    </div>
    <br>
    <mat-form-field class="input-course-name">
      <input matInput placeholder="Наименование курса" class="input-course-name" value="{{course.name}}"
             (blur)="onBlurName($event)">
    </mat-form-field>
    <br>
    <app-category [courseCategory]="course.categoryId"></app-category>
  </div>
  <div class="prime-area" align="center">
    <img src="./assets/settings_image.png" class="settings-image">
  </div>
</mat-card>

<mat-card class="create-course-tags-card">
  <div class="tags-header">Добавте теги</div>
  <mat-divider class="head-divider-create-course"></mat-divider>
  <div class="tags-element">
    <app-tags [idCourse]="course.id"></app-tags>
  </div>
</mat-card>

<mat-card class="create-course-overview-card">
  <div class="overview-header">Расскажите о чем ваш курс</div>
  <mat-divider class="head-divider-create-course"></mat-divider>
  <mat-form-field class="overview-course-input">
        <textarea contentEditable="true" matInput placeholder="Описание" class="overview-course-textarea"
                  value="{{course.overview}}"
                  (blur)="onBlurOverview($event)"></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="date-creation-course">
    Дата создания: {{course.dateCreation}}
  </div>
</mat-card>
