
.create-overview-card{
  margin-top: 20px;
  padding: 0%;
  margin-left: 10%;
  width: 20%;
  height: 280px;
  display: inline-block;
  vertical-align: top;
}

.create-settings-card{
  margin-top: 20px;
  padding: 0%;
  height: 280px;
  width: 55%;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.create-course-tags-card{
  margin-top: 5px;
  margin-left: 10%;
  width: 73%;
}

.create-course-overview-card{
  margin-top: 5px;
  margin-left: 10%;
  width: 73%;
}

.overview-course-textarea{
  display: inline-block;
  min-height: 200px;
}

.settings-header{
  margin: 10px 10px 10px 20px;
  color: #4527a0;
  font-size: 24px;
}

.overview-header{
  color: #4527a0;
  font-size: 24px;
  margin-bottom: 10px;
}

.tags-header {
  color: #4527a0;
  font-size: 24px;
  margin-bottom: 10px;
}

.tags-element{
  margin-top: 40px;
}

#openPhoto {
  visibility: hidden;
}

.course-create-image {
  width: 200px;
  height: 200px;
  margin-left: 2%;
  /*border-radius: 50%;*/
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.image-area{

}

.load-course-button{
  margin-top: 20px;
  width: 160px;
}

.open-course-toggle{
  display: inline-block;
  vertical-align: top;
}

.input-course-name{
  margin-top: 20px;
  width: 250px;
}

.name-turn-tag{
  margin-top: 30px;
  margin-left: 30px;
  vertical-align: top;
  display: inline-block;
}

.overview-course-input{
  width: 100%;
  margin-top: 10px;
}

.settings-image{
  width: 200px;
  height: 200px;
  margin-left: 40px;
}

.prime-area{
  background: #4527a0;
  height: 230px;
  width: 250px;
  display: inline-block;
  float: right;
  border-bottom-left-radius: 100%;
}

.date-creation-course{
  margin-top: 2%;
  height: auto;
}

.head-divider-create-course {
  background: #4527a0;
  height: 1px;
}
