<app-toolbar></app-toolbar>

<mat-card class="course-create-top-card">
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Описание курса</ng-template>
        <app-create-owerview [course]="course"></app-create-owerview>
        <!--<div align="center">-->
          <button mat-mini-fab color="primary" matStepperNext class="stepper-button-right">
            <mat-icon class="stepper-image-button-right">keyboard_arrow_right</mat-icon>
          </button>
        <!--</div>-->
      </form>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Разделы</ng-template>
        <div class="content-step">
          <app-create-section [courseId]="course.id"></app-create-section>
            <button mat-mini-fab color="primary" matStepperPrevious class="stepper-button">
              <mat-icon class="stepper-image-button-left">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" matStepperNext class="stepper-button-right">
              <mat-icon class="stepper-image-button-right">keyboard_arrow_right</mat-icon>
            </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Тестирование</ng-template>
        <div class="content-step">
        <app-create-test></app-create-test>

          <button mat-mini-fab color="primary" matStepperPrevious class="stepper-button">
            <mat-icon class="stepper-image-button-left">keyboard_arrow_left</mat-icon>
          </button>
          <button mat-mini-fab color="primary" matStepperNext class="stepper-button-right">
            <mat-icon class="stepper-image-button-right">keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Сертфицирование</ng-template>
      <app-create-certificate [course]="course"></app-create-certificate>
      <div class="content-step">
        <button mat-mini-fab color="primary" matStepperPrevious class="stepper-button">
          <mat-icon class="stepper-image-button-left">keyboard_arrow_left</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

<app-down-panel></app-down-panel>
