.course-create-top-card{
  margin: 2%;
  min-height: 78%;
  padding-bottom: 0%;
}

.course-create-panel{
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.stepper-button{
  position: fixed;
  top: 85%;
  left: 10%;
}

.stepper-button-right{
  position: fixed;
  top: 85%;
  left: 88%;
}

.stepper-image-button-right{
  margin-left: 3px;
  margin-bottom: 3px;
  transform: scale(1.5);
}

.stepper-image-button-left{
  margin-left: -3px;
  margin-bottom: 3px;
  transform: scale(1.5);
}



.delete-button-section{
  margin-left: 80%;
}

#openPhoto {
  visibility: hidden;
}

#openVideo {
  visibility: hidden;
}

.course-create-image {
  width: 200px;
  height: 200px;
  /*border-radius: 50%;*/
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%
}

.content-step{
  /*min-height: 450px;*/
}
