.successful-massage{
  position: absolute;
  font-size: 20px;
  color: #585858;
  margin-top: 15%;
  margin-left: 40%;
}

.button-enter{
  margin-left: 30%;
  width: 120px;
  height: 40px;
  font-size: 18px;
}
