<app-toolbar></app-toolbar>
<div class="successful-massage">
<p>Регистрация прошла успешно</p>
<button mat-raised-button routerLink="/login" class="button-enter">
  Войти
</button>
</div>
<app-down-panel></app-down-panel>
