<app-toolbar></app-toolbar>

  <div class="blog-cards-area">
    <app-post-card *ngFor="let item of blogs" [blog]="item" class="blog-card">
    </app-post-card>
  </div>
<app-down-panel></app-down-panel>
