<mat-form-field class="input-question">
    <textarea matInput class="input-question" placeholder="Вопрос" (blur)="onBlurQuestion($event)"
              value="{{question.text}}"></textarea>
</mat-form-field>
<br>
<mat-form-field class="question-type">
  <mat-select placeholder="Тип вопроса" value="{{question.questionType}}"
              (selectionChange)="onChangeQuestionType($event)">
    <mat-option *ngFor="let item of questionTypes" value="{{item.id}}">
      {{item.type}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-divider></mat-divider>
<br>

<mat-radio-group *ngIf="question.questionType == 1" [(ngModel)]="idRightAnswer" (change)="onChangeRightRadioButton()">
  <div *ngFor="let item of answers">
    <mat-radio-button value="{{item.id}}" [checked]="item.right">
    </mat-radio-button>
    <app-create-answer [answer]="item"></app-create-answer>
    <button mat-icon-button color="primary" (click)="deleteAnswer(item.id)" class="delete-answer-button">
      <mat-icon>clear</mat-icon>
    </button>
    <br>
  </div>
</mat-radio-group>

<section *ngIf="question.questionType == 2">
  <div *ngFor="let item of answers">
    <mat-checkbox class="answer-checkbox" value="{{item.id}}" [checked]="item.right" [(ngModel)]="item.right"
                  (change)="onChangeRightCheckbox()">
    </mat-checkbox>
    <app-create-answer [answer]="item"></app-create-answer>
    <button mat-icon-button color="primary" (click)="deleteAnswer(item.id)" class="delete-answer-button">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</section>

<button mat-mini-fab color="primary" class="add-answer" (click)="addAnswer()" [disabled]="question.questionType == null">
  <mat-icon>add</mat-icon>
</button>


