.input-question{
  width: 100%;
}

.question-type{
  width: 40%;
}

.delete-answer-button{
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}

.add-answer{
  margin-left: 95%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.answer-checkbox{
  margin-right: 12px;
}
