<app-toolbar></app-toolbar>
<!--{{id}}-->
<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let item of courses">
    <app-course-card
      [course]="item" class="course-card">
    </app-course-card>
  </mat-grid-tile>

</mat-grid-list>
<app-down-panel></app-down-panel>
