.card-post{
  margin: 4% 20% 4% 20%;
  padding: 2% 0%;
}

.card-header-post{
  margin: 0%;
  padding: 0%;
  position: relative;
}

.card-post-content{
  padding: 6% 6% 0%;
  font-size: 18px;
  font-family: Arial;
}

.post-img{
  margin: 0%;
  position: relative;
  width: 100%;
}

.title-post-card{
  font-size: 50px;
  position: relative;
}

.title-post-card-text{
  margin: 2% 4% 4%;
}

.action-post{
  margin-left: 4%;
  padding-top: 2%;
}
