<mat-card class="card-post">
  <div class="title-post-card">
    <div class="title-post-card-text">{{blog.name}}</div>
    <img src="http://localhost:8080/blog/img/{{blog.img}}" class="post-img">
  </div>
  <mat-card-content class="card-post-content">
    <div [innerHTML]="blog.overview" class="text-post"></div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="action-post">
    Опубликовано: {{blog.datePost}}
  </mat-card-actions>
</mat-card>
