<app-toolbar></app-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Зарегистрироватся</mat-card-title>
  </mat-card-header>
  <span>
  <mat-card-content class="card-content">

    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="Почта" [(ngModel)]="username" name="username" required>
               <mat-error *ngIf="false">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width" id="passwordagain">
            <input matInput placeholder="{{statuspassword}}" [(ngModel)]="passwordagain" type="password" name="passwordagain" required>
          </mat-form-field></td>
        </tr>
      </table>
    </form>

  </mat-card-content>
  </span>
  <mat-card-actions class="button-login">
    <button mat-raised-button (click)="login()" color="primary">Зарегистрироватся</button>
  </mat-card-actions>
</mat-card>
<app-down-panel></app-down-panel>
