.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  width: 300px;
  margin: 10% auto;
  height: 270px;
}
.mat-card-title{
  font-size: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

.card-content {
  display: flex;
}
.example-form {
  padding-left: 30px;
}

.button-login{
  padding-left: 85px;
}

.example-full-width{
  width: 240px;
}

/*.passwordagain{*/
  /*color: red;*/
/*}*/

/*.red {*/
  /*color: red;*/
/*}*/
