@import '~@angular/material/theming';

@include mat-core();

$client7-primary: mat-palette($mat-deep-purple);
$client7-accent: mat-palette($mat-deep-purple, A200, A100, A400);

$client7-warn: mat-palette($mat-red);

$client7-theme: mat-light-theme($client7-primary, $client7-accent, $client7-warn);

@include angular-material-theme($client7-theme);
