<mat-chip-list #chipList class="list-chips">
  <mat-chip color="primary" selected *ngFor="let item of tests" (click)="onClick(item)">
    <div class="chip-test">
    {{item.header}}
    </div>
    <mat-icon matChipRemove (click)="deleteTest(item.id)">cancel</mat-icon></mat-chip>
  <mat-chip color="primary" (click)="addTest()"><mat-icon class="chip-test">add</mat-icon></mat-chip>
</mat-chip-list>
